<table border="0" cellpadding="0" cellspacing="0" style="width: 90%; margin: 0 auto 20px;">
  <tr>
    <td style="width: 50%;">
			<%= image_tag "ilustracao_1.jpg", 
					:alt => "Imagem representando anotações ou lembretes",
					:width => "502px",
					:height => "298px" %>
			
		</td>
    <td style="width: 20%; text-align: center">
			<%= image_tag "ilustracao_2.jpg", 
					:alt => "Setas e cartas representando o sistema enviando os lembretes para os contatos",
					:width => "58px",
					:height => "298px" %>
		</td>
    <td style="width: 30%; text-align: right">
			<%= image_tag "ilustracao_3.jpg", 
					:alt => "Imagem representando os contatos recebendo os lembretes",
					:width => "248px",
					:height => "298px" %>
		</td>
  </tr>
</table>

<ul style="text-align: center;">
	<li id="home_box1" class="home_box">
		1º Crie grupos com os seus contatos.
	</li>
	<li id="home_box2" class="home_box">
		2º Informe a periodicidade do envio das mensagens.
	</li>
	<li id="home_box3" class="home_box">
		3º Informe quando devemos começar	a enviar.
	</li>
</ul>

