<h1 id="oque_hint" class="hint">O que é?</h1>
<div id="oque" class="explicacao">
	Um sistema de agendamento de mensagens que permite envio contínuo e programado.
</div>

<h1 class="hint">Como funciona?</h1>
<div id="comofunciona" class="explicacao">
	1º - Você vai criar grupos com os seus contatos<br/>
	2º - Vai informar o período do envio das mensagens<br/>
	3º - Vai dizer quando devemos começar<br/>
	Pronto!
</div>