<% content_for(:javascript) do %>
	<%= include_javascripts :grupos_contato_seach %>
<% end %>

<div id="contato_search" class="field">
	<p>
		<label for="contato_search_field">Contatos</label>
		<br/>
		<input id="contato_search_field">
	</p>
</div>
<div id="nomes_container" class="contatos_nomes_container">
	<% if defined? contatos and defined? grupo %>
		<%= render :partial => 'users/grupos/item_contato', :collection => contatos, :locals => {:grupo => grupo} %>
	<% end %>
	<% if defined? contatos_temporarios and contatos_temporarios %>
	  <%= render :partial => 'users/grupos/item_contato_temporario', :collection => contatos_temporarios %>
	<% end %>
</div>