<% content_for(:javascript) do %>
	<%= javascript_include_tag 'views/grupos/form' %>
	<%= javascript_include_tag 'views/grupos/item_contato' %>
<% end %>

<div id="contato_search" class="field">
	<p>
		<label for="contato_search_field">Contatos</label>
		<br/>
		<input id="contato_search_field">
	</p>
</div>
<div id="nomes_container" class="contatos_nomes_container">
	<% if defined? contatos and defined? grupo %>
		<%= render :partial => 'users/grupos/item_contato', :collection => contatos, :locals => {:grupo => grupo} %>
	<% end %>
</div>