<h1 class="item_grupos">
	<span><%= t "app.menu.grupos" %></span>
</h1>

<% if can? :create, Grupo %>
	<div id="div_novo_grupo">
		<% link_to new_users_grupo_path, :class => "novo_grupo", :id => "novo" do %>
			<%= t "app.grupo.novo" %>
		<% end %>              
	</div>
<% end %>

<div class="grupos">
	<%= render :partial => "users/grupos/list" %>
</div>